/*
* {
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
<style>

 

    body {
      margin: 100;
      font-family: "poppins"
    
    }
    
    
    header {
      background: #65659c;
      color: rgb(216, 248, 12);
      padding: 5px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    } 

    .logo
    {
      width: 200px;
      height: 150px;
      margin-right: auto;
    }

    .logo:hover img 
      {
        transform: scale(1.50);
        opacity: 0.85;
      }

    .search-box
    {
      display: flex;
      width:320px;
      align-items: center;
      padding: 6px 10px;
      border-radius: 999px;
      background: #ffffff;
      box-shadow: 0 10px 30px rgba(6, 59, 232, 0.662);
    }
   
    .search-box input
    {
      border: none;
      outline: none;
      flex:1;
      font-size: 15px;
      padding: 8px 10px;
    }

    .search-box button
    {
      border: none;
      background: white;
      color: white;
      padding: 8px 14px
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.2s ease, background 0.2s ease;
    }

    .search-box button:hover {
    background: #ef0000;
    transform: scale(3.00);
    }


.nav-menu li a {
  color: rgb(207, 207, 73);
  text-decoration: none;
  font-weight: 500;
}
    .hero {
      background: #65659c;
      padding: 20px 30px;
      text-align: center; 
    }

    .hero h2 {
      color:rgb(23, 24, 26);
      margin-bottom: 10px;
      font-size: 52px;
    }

    .hero p {
      color: #1d1d1e;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .products {
      padding: 40px 30px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 10px;
      border: 2px solid black;
    } 

    .product-card {
      background: rgb(55, 19, 255);
      border-radius: 8px;
      padding: 15px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    }
    .product-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


   .product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


    .product-card h3 {
      font-size: 16px;
      margin: 10px 0 5px;
    }

    .price {
      color: #ff5722;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .buy-btn {
      display: block;
      text-align: center;
      background: #06e933;
      color: white;
      padding: 10px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 14px;
      
    }
    .buy-btn i {
       margin-right: 16px;
      font-size: 16px;
}

    .buy-btn:hover {
      background: #000501;
    }
    .buy-btn {
  transition: background 0.2s ease, transform 0.2s ease;
}

.buy-btn:hover {
  transform: scale(1.03);
}

.trust {
  background: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #444;
}


    footer {
      background: #222;
      color: #aaa;
      text-align: center;
      padding: 20px;
      font-size: 14px;
    }
  </style>
</head>
*/

*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
} 

body
{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}
.text h3
{
  margin-top: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;

}
.container
{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.top-bar
{
  background: #111;
  color: #ffffff;
  font-size: 14px;
}
.top-bar .container 
{
  display: flex;
  padding: 8px 0;
  justify-content: left;
}
.navbar
{
  background: #000;
  padding: 20px 20px;
 
}
.nav-wrapper
{
 display: flex;
 align-items: center;
 gap: 20px;
 flex-direction: column;
}
.logo img
{
  height: 100px;
  width: 100%;
}
.search-box
{
  flex: 1;
  display: flex;
}
.search-box input
{
  width: 70%;
  padding:10px;
  border: none;
  outline: none;
}
.search-box button 
{
  padding : 10px 15px;
  border: none;
  background: #bfff00;
  cursor: pointer;
}
.search-box button:hover
{
  background: #686767;
  transform: translateY(5px);
  box-shadow: 0 10px 25px rgba(219, 2, 2, 0.2);
  transition: all 0.3s ease;
}

.nav-menu
{
  display: flex;
  list-style: none; 
  background-color:#000000;
  justify-content: space-evenly;
  padding: 15px 0;
}

.nav-top 
{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-menu a
{
  text-decoration: none;
  font-size: 20px;  
  color: #fff;

}
.nav-menu a:hover 
{
  color: #ffcc00;
}
.category
{
  background:  #fff;
  padding: 60px 0;
}
.category-grid
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.category-card
{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.category-card img
{
  width: 70%;  
  display: block;
  padding: 50px;
  margin:10px;
}

.category-card:hover
{
  transform: translateY(-5px);
}

.category-card h3
{
  position: absolute;
  bottom: 30px;
  left: 70px;
  color: #fff;
  background: rgba(0,0,0,0.6);
  padding: 5px 5px;
  font-size: 14px;
  gap: 2px;
  
}
.products
{
  padding: 40px 0;
}
.products h2
{
  margin-bottom: 10px;
}
.products p
{
  margin-bottom: 30px;
  color: #666;
}
.product-grid
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:25px;
}
.products-card
{
  background: #fff;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}
.product-card img
{
  width: 100%;
  height:250px;
  border-radius: 8px;
  transition: 0.2 ease;
}
.product-card.active img
{
  outline: 3px solid #000000;
  outline-offset: 4px;
}
.products-card h4 
{
  margin: 10px 0;
  font-size: 16px;
}
.products-card span
{
  color: #e63946;
  font-weight: bold;
}
.product-card:hover 
{
  transform: translateY(-3px);
}
.product-card.active::after 
{
  content: "✔ Dipilih";
  position: absolute;
  top: 10px;
  right: 10px;
  background: #25D366;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
}

.fa-instagram 
{
  background: #000;
  color: white;
  display: flex;
  padding: 2px 2px;
  justify-content: center;
}

.footer
{
  background: #fdf9f9;
  color: #000000;
  text-align: center;
  padding: 30px 0;
}

.advantages h2
{
  text-decoration: underline;
  text-decoration-color: #e63946;
}
.advantages 
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto;
}

footer h2
{
  text-decoration: underline;
  text-decoration-color: #e63946;
  margin-top: auto;
}
footer p
{
  background: #000000;
  color: #fff;
  bottom: 0;
  width: 100%;
  position: fixed;
}
#searchResult {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}

.dropdown 
{
  position: relative;
}

.dropdown-menu 
{
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  min-width: 220px;
  list-style: none;
  padding: 10px 0;

  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;

  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.dropdown-menu li a 
{
  display: block;
  padding: 10px 20px;
  color: #000;
  font-size: 15px;
}

.dropdown-menu li a:hover 
{
  background: #f5f5f5;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

// catridge

.productse
{
  padding: 40px 0;
}
.productse h2
{
  margin-bottom: 10px;
}
.productse p
{
  margin-bottom: 30px;
  color: #666;
}
.productse-grid
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:25px;
}
.productse-card
{
  background: #fff;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}
.productse-card img
{
  width: 100%;
  height:250px;
  border-radius: 8px;
  transition: 0.2 ease;
}
.productse-card.active img
{
  outline: 3px solid #000000;
  outline-offset: 4px;
}
.productse-card h4 
{
  margin: 10px 0;
  font-size: 16px;
}
.productse-card span
{
  color: #e63946;
  font-weight: bold;
}
.productse-card:hover 
{
  transform: translateY(-5px);
}
.productse-card.active::after 
{
  content: "✔ Dipilih";
  position: absolute;
  top: 10px;
  right: 10px;
  background: #25D366;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
}
.wa-float 
{
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 55px;
  height: 55px;
  background: #25D366;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  line-height: 55px;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  transition: 0.2s ease;
}

.wa-float:hover {
  background: #1ebe5d;
  transform: scale(1.05);
}
